.his_book_page_list{
    width:80%;
    height:1000px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #d3cccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #d3cccc;
}
.his_book_page_list_title{
    position: relative;
    top: 10px;
    left: 20px;
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    font-family: Arial;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .his_book_page_list{
        margin-left:15%;
    }
    .his_book_page_list table{
        margin-left:25%;
    }

    table {
        width: 100%;
        
    }

    td {
        display: block;
        text-align: right;
    }

    td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
    
}

.his_book_page_list table td{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    font-family: Arial;
}