.book_page_list{
    width:80%;
    height:1000px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #d3cccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #d3cccc;
}
.book_page_list_title{
    position: relative;
    top: 10px;
    left: 20px;
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    font-family: Arial;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .book_page_list{
        margin-left:15%;
    }
    .book_page_list table{
        margin-left:25%;
    }

    table {
        width: 100%;
        
    }

    td {
        display: block;
        text-align: right;
    }

    td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
    
}

.book_page_list table td{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    font-family: Arial;
}

.book_page_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.book_page_number_container {
    display: flex;
    flex-wrap: wrap;
}

.book_page_item {
    margin: 0 5px; /* Khoảng cách giữa các mục trong container */
}

.book_page_link {
    text-decoration: none;
    font-size: 20px;
    background-color: #f9f9f9; 
    box-shadow: 0 0 10px #d3cccc;
    border: 3px solid #d3cccc;
}


.active {
    font-weight: bold; /* Hiển thị số trang hiện tại nổi bật */
    background-color: #d3cccc; /* Đổi màu nền cho số trang hiện tại */
}