.container_bookDetail_nav_1_display_paragraph img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bookDetail{
    width: 100%;
    height: 1000px;
    background-color: blue;
}

.container_bookDetail_taskbar{
    width: 100%;
    height: 65px;
    background-color: #f2f2f2;
}

.container_bookDetail_taskbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.container_bookDetail_taskbar ul li{
    display: inline;
    padding: 5px;
    align-self: center;
}
.container_bookDetail_taskbar a{
    text-decoration: none;
    color: #333;
    font-family: sans-serif;
    font-size: medium;
    margin-left: 15px;
    
}
.container_bookDetail_taskbar a:hover{
    color: #3c5fee;
}

.container_bookDetail_taskbar_box{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-right:1px solid #333;
}
.container_bookDetail_taskbar_box_img{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    margin-bottom:10px;
}
.container_bookDetail_taskbar_box_title{
    display: flex;
    flex-direction: column;
    margin:5px;
    width:170px;
}
.container_bookDetail_taskbar_box_title h3{
    margin:0;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.container_bookDetail_taskbar_box_title span{
    font-size: 10px;
    font-weight: bold;
    color: #333;
    font-family: sans-serif;
    margin-top: 10px;

}
.container_bookDetail_taskbar_button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}
.container_bookDetail_taskbar_button button{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}
.dark{
    background-color: #333;
    color: white;
    border: none;
}
.white{
    background-color: white;
    color: black;
    font-weight: bold;
    border: 2px solid #333;
}
.container_bookDetail_nav_1{
    display: flex;
    flex-direction: row;
}
.container_bookDetail_nav_1_author{
    display: flex;
    flex-direction: column;
    width:20%;
}
.container_bookDetail_nav_1_author img{
    width:120px;
    height:120px;
    border-radius: 50%;
    border:1px solid #333;
}
.container_bookDetail_nav_1_author span{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    font-family: sans-serif;
}


.container_bookDetail_nav_1_author_info{
    width:100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.container_bookDetail_nav_1_displayBook{
    width: 80%;
    padding:10px 200px 0 55px;
}

.container_bookDetail_nav_1_displayBook_body{
    width:100%;
    height:800px;
    border: 1px solid #a29f9f;
    box-shadow: 0 0 10px 5px #b1aeae;
    display: flex;
    flex-direction: column;
}
.container_bookDetail_nav_1_displayBook_body_tittle{
    width: 100%;
    text-align: center;
    padding-top:20px;
}
.container_bookDetail_nav_1_displayBook_body span{
    font-size: 25px;
    font-weight: bold;
    color: #333;
    font-family: sans-serif;
}
.container_bookDetail_nav_1_display_paragraph{
    width:100%;
    height:100%;
    background-color: #cdcccc44;
    overflow-y: scroll;
}

.container_bookDetail_nav_1_displayBook_body_button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.container_bookDetail_nav_1_displayBook_body_button button{
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.container_bookDetail_nav_1_displayBook_body_button button:hover{
    background-color: #f8f6f6c5 !important;
    border:none !important;
    outline: 2px solid #5c5959 !important;
}
.container_bookDetail_nav_1_displayBook_comment{
    padding:0 20px;
    background-color: #f2f2f2;
    margin-top:20px;
    box-shadow: 0 0 10px 5px #b1aeae;
}

.container_bookDetail_nav_1_displayBook_comment_title{
    width: 100%;
    padding-top:10px;
    margin-left:20px;
}
.container_bookDetail_nav_1_displayBook_comment_title span{
    font-size: 25px;
    font-weight: bold;
    color: #333;
    font-family: sans-serif;
}
.container_bookDetail_nav_1_displayBook_comment_form{
    height:120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    
}

.container_bookDetail_nav_1_displayBook_comment_form_img{
    width: 20%;
    height: 100%;
}
.container_bookDetail_nav_1_displayBook_comment_form_img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px 50px;
}
.container_bookDetail_nav_1_displayBook_comment_form_box{
    width: 75%;
    padding:5px 0 0 10px;
    background-color: #fff;
    border:2px solid #bbb5b5;
    display:flex;
    border-radius: 5px;
}

.container_bookDetail_nav_1_displayBook_comment_form_box form{
    height:100%;
    width:100%;
}
.container_bookDetail_nav_1_displayBook_comment_form_box textarea{
    width:100%;
    height: 100%;
    border:none;
    border-radius: 5px;
    font-size: 16px;
    font-family: sans-serif;
    resize: none;
    padding:0
}
.container_bookDetail_nav_1_displayBook_comment_form textarea:focus{
    outline: none;
}
.container_bookDetail_nav_1_displayBook_comment_form_box textarea::placeholder{
    font-size: 15px;

}
.container_bookDetail_nav_1_displayBook_comment_form_box button{
    height:40px;
    width:40px;
    border:none;
    background-color: #fff;
    cursor: pointer;
}
.container_bookDetail_nav_1_displayBook_comment_form_box button:hover{
    background-color: #f8f6f6c5;
}
.container_bookDetail_nav_1_displayBook_comment_form_listComments_item{
    background-color: #f2f2f2;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border: 2px solid #cdbfbf;
    border-radius: 5px;

}

.container_bookDetail_nav_1_displayBook_comment_form_listComments_item_img{
    width: 100px;
    height: 100%;

}
.container_bookDetail_nav_1_displayBook_comment_form_listComments_item_img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 20px;

}

.container_bookDetail_nav_1_displayBook_comment_form_listComments_item_content{
    width: 80%;
    background-color: #f2f2f2;
    padding: 10px;
    margin-left:20px;
    display: flex;
    flex-direction: column;
}

.author{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    font-family: sans-serif;
}
.content{
    font-size: 12px;
    color: #333;
    font-family: sans-serif;
    font-weight: bold;

}

.container_bookDetail_nav_1_comment_action{
    height: 100%;
    margin-top:5px;
    display: flex;
    justify-content: left;
    padding:0 0 0 25px;
}
.container_bookDetail_nav_1_comment_action button{
    background-color: #f2f2f2;
    color:#333;
    border:none;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: underline;
}

.container_bookDetail_nav_1_comment_reply{
    padding:0 0 0 50px;
    margin-top: 10px;
}
.container_bookDetail_nav_1_comment_reply_box{
    width: 100%;
    ;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border:2px solid #787070ea;

}

.container_bookDetail_nav_1_comment_reply_box_img{
    width: 10%;
    height: 100px;
}
.container_bookDetail_nav_1_comment_reply_box_img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 20px;
}

.container_bookDetail_nav_1_comment_reply_box_content{
    width: 90%;
    padding: 5px 0 0 10px;
    display: flex;
    flex-direction: column;
}
.box_line_seeMore{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button_addReplyMore{
    background-color: #f2f2f2;
    color:#333;
    border:none;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: underline;
    text-align: center;
}

