.header{
    background-color: #CEC2C2;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index: 1000;
}
.header_container{
    width:100%;
}
.header_container ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin:0;
}
.header_nav ul{
    list-style: none;
    display: flex;
}
.header_nav ul li{
    margin: 20px;
}
.header_nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
}
.header_logo {
    margin-top:5px;
}
.header_logo img{
    width: 155px;
    height: 45px;
}
.header_search{
    margin-top:10px;
    width:320px;
    display: flex;
}
.header_search input{
    width: 100%;
    height:15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    align-items: center;
    position: relative;
    left:15px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}
.header_search input::placeholder{
    font-size: 15px;
    color: #B7B0B0;
    font-family:Arial, Helvetica, sans-serif;
}
.header_search input:focus{
    outline: none;
}
.header_search_icon button{
    width: 45px;
    height: 35px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}.header_search_icon button:hover{
    background-color: #d3d0cc;
}
.header_search_icon button:focus{
    outline: none;
}
.header_search_icon i{
    color: #000;;
    position: relative;
    left:5px;
    
}
.header_search_keybox{
    width: 450px;
    height: 250px;
    background-color: #cecccc;
    overflow-y: scroll;
    position: absolute;
    display: none;
    left: 30%;
    top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.header_search_keybox ul{
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex;
    flex-wrap: wrap;
}
.header_search_keybox ul li{
    width:100%;
    height: 100px;
    padding: 5px;
    
}


.header_nav_user{
    margin-top:8px;
    display: flex;
    justify-content: space-around;
}
.header_nav_user img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}
.header_nav_user span{
    font-size: 15px;
    color: #000;
    font-weight: bold;
    font-family: Arial;
    align-self: center;
    text-transform: none;
}

.header_nav_select{
    margin-top: 15px;
    display:flex;
    flex-direction: column;
}

.header_nav_select_title{
    width:30px;
    height:20px;
    cursor: pointer;
    z-index: 5;
    display:flex;
    flex-direction: row;
    
}
.header_nav_select span{
    font-size: 15px;
    color: #000;
    font-weight: bold;
    font-family: system-ui;
    text-transform: none;
    margin-left:5px;
}
.header_nav_select_title i{
    margin:3px 0 0 3px;
}

.header_nav_user{
    margin-top:8px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.header_nav_user i{
    margin-left:3px;
}

.rotate {
    animation: rotate 0.5s forwards;
}
.rev_rotate {
    animation: rev_rotate 0.5s forwards;
}
@keyframes rotate {
   
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    } 
}
@keyframes rev_rotate {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
    
}

.fade_in {
    animation: fade_in 0.5s forwards;
}
.fade_down {
    animation: fade_down 0.5s forwards;
}
@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade_down {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}