.container_nav_2_seenBooks_item{
    height: 100px;
    border-radius:10px;
    display: flex;
    padding:0 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #d3cccc;
}

.container_nav_2_seenBooks_item img{
    margin-right: 20px;
    width:100px;
    height:auto;
}