.container_nav_2_seenBooks_item{
    height: 100px;
    border-radius:10px;
    display: flex;
    padding:0 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #d3cccc;
}
.container_nav_2_seenBooks_item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.container_nav_2_seenBooks_item img{
    margin-right: 20px;
    width:100px;
    height:auto;
}
.container_nav_2_seenBooks_item_discuss{
    display:flex;
    flex-direction: column;
}
.title{
    font-size: 20px !important;
    font-weight: bold;
    font-family: Arial;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 235px;
}
.container_nav_2_seenBooks_item_discuss span{
    font-size: 15px;
    font-family: Arial;
    color: #000;
}
.container_nav_2_seenBooks_message {
    border-radius:10px;
    display: flex;
    padding:0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.container_nav_2_seenBooks_message a:hover {
    color: #00725f;
    cursor: pointer;
}

.container_nav_2_seenBooks_item_discuss_listChapter {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-style: italic;
    line-height: 1.5;
}

.container_nav_2_seenBooks_item_discuss_listChapter span {
    font-size: 14px;
    color: #8c8c8c;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container_nav_2_seenBooks_item_discuss_listChapter span:hover {
    color: #312828;
}