.container_nav_1_listBooks_item_hot{
    display:flex;
    flex-direction: row;
    width:325px;
    height: 150px;
    border-radius:5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.container_nav_1_listBooks_item_hot_image{
    width: 150px;
    height: 100%;
    overflow: hidden;
}
.container_nav_1_listBooks_item_hot_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.container_nav_1_listBooks_item_hot_discuss{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin-left: 10px;
}
.container_nav_1_listBooks_item_hot_discuss h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    width:200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    
}

.container_nav_1_listBooks_item_discuss_hot_chapter{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container_nav_1_listBooks_item_discuss_hot_chapter span{
    font-size: 1rem;
    font-weight: 700;
    color: #8d8585;
    width:200px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}
