
.container_body{
    margin: 10px 40px;
}
.container_nav_1{
    height:220px;
    margin-top:30px;
    background-color:  #f9f9f9;
    box-shadow: 0 0 10px #d3cccc;
}

.container_nav_2{
    margin-top:30px;
    display: flex;
    flex-direction: row;
}
.container_nav_3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    margin-top: 20px;
}

